<form action="/" method="post">
  <div class="form-group">
    <% if url %>
      <input disabled type="text" id="url" class="form-control" value="<%= url %>">
      <input type="hidden" name="url" value="<%= url %>">
    <% else %>
      <label for="url">Please enter your URL and (optionally) a message below</label>
      <input type="text" id="url" class="form-control" name="url" placeholder="Enter something like, 'http://example.com'">
    <% end %>
  </div>
  <div class="form-group">
    <% if url %>
      <label for="url">Please enter a message (optional)</label>
    <% end %>
    <textarea id="message" class="form-control" name="message" placeholder="Enter your message here"><%= params[:message] %></textarea>
  </div>
  <button class="btn btn-primary">Generate</button>
</form>

<% unless url %>
  <div class="mt-5 mx-4 pt-2 pb-3 px-3 border rounded bg-light">
    <h5 class="text-muted">NOTE</h5>
    <p>To save a step, copy this link
    (<a href="javascript:<%= erb :'bookmarklet.js' %>">Generate QR Codes</a>) and save it as a bookmark.
    Then any time you visit a page you'd like to create QR codes for all you'll have to do is click the bookmark.</p>
    <div class="text-center">
      <img src="images/bookmark-screenshot.png" class="img-thumbnail rounded" alt="Screenshot of 'Generate QR Codes' bookmark" width="400" height="287">
    </div>
  </div>
<% end %>

