<form action="/" method="post">
  <div class="form-group">
    <label for="url">URL</label>
    <input type="text" id="url" class="form-control" name="url" placeholder="http://example.com">
  </div>
  <div class="form-group">
    <label for="url">Message</label>
    <textarea id="message" class="form-control" name="message" placeholder="Please join us on Friday!"></textarea>
  </div>
  <button class="btn btn-primary">Generate</button>
</form>
