<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">

    <title>A tool for generating sheets of QR codes with an optional message - Vine</title>
  </head>
  <body>
    <main class="container">
      <header class="mb-4 px-3 pt-2 rounded-bottom border-bottom border-right border-left bg-light">
        <h1 class="mb-0">Vine</h1>
        <p class="text-muted">A tool for generating sheets of QR codes with an optional message.</p>
      </header>
      <%= yield %>
    </main>
  </body>
</html>
